@import url("https://fonts.googleapis.com/css?family=Nabla|Pacifico");

body {
   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
   font-size: 24px;
   line-height: 20px;
   font-weight: 400;
   
   color-scheme: light dark;
   color: rgb(255, 255, 255);
   background-color: black;
 
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
 }

 .electricalEngineer {
   background-image: url('images/pcb.jpg');
   background-position: top left;
   background-repeat: no-repeat;
   background-size: cover;
   animation: backgroundAnimation 30s infinite alternate;
 }

 .soundEngineer {
   background-image: url('images/mixer.jpg');
   background-position: top left;
   background-repeat: no-repeat;
   background-size: cover;
   animation: backgroundAnimation 30s infinite alternate;
 }

@keyframes backgroundAnimation {
   from {
      background-size: 150% 150%;
   }
   to {
      background-size: 110% 110%;
   }
}

div {
   display: grid;
   grid-column: auto;
   place-items: center;
   align-content: center;
   min-height: 100vh;
}

section {
   display: grid;
   grid-column: auto;
   place-items: center;
   align-content: center;
   min-height: 10vh;
}

h1 {
   font-family: Nabla, Inter, Avenir, Helvetica, Arial, sans-serif;
   font-size: 150px;
   line-height: 1.1;
   display: grid;
   place-items: center;
   align-content: center;
   min-height: 20vh;
}

h2 {
   font-family: Pacifico, Inter, Avenir, Helvetica, Arial, sans-serif;
   font-size: 2em;
   line-height: 1.1;
   display: grid;
   place-items: center;
   align-content: center;
}

.fadeIn {
   opacity: 0;
   filter: blur(5px);
   transition: all 3s;
}

.hiddenLeft {
   opacity: 0;
   filter: blur(20px);
   transform: translateX(-100%);
   transition: all 1s;
}

.hiddenLeft2 {
   opacity: 0;
   filter: blur(20px);
   transform: translateX(-100%);
   transition: all 1s;
   transition-delay: 2s;
}

.hiddenLeft4 {
   opacity: 0;
   filter: blur(20px);
   transform: translateX(-100%);
   transition: all 1s;
   transition-delay: 4s;
}

.show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}